extends layout

include _includes/sharedHTMLfunctions

block content
  #banner.page-header
    .row
      .medium-6.columns
        h1= pageHeader.title
        small &nbsp;#{pageHeader.strapline}
   .row
      .small-8.medium-8.large-8.list-group-item
      .error= message 
      .row.list-group
        each location in locations
         .small-12.list.group.item
          h4 
              a(href="/location/#{location._id}")= location.name
            +outputRating(location.rating)
            span.badge.float-right location.distance
               p.address= location.address
            span location.address 
            p
              | each facility in facilities
            p
              | facility address 

         
